.card-img-bottom{   
    display: block;
    width: 100%;
    height: 350px;
    position: relative;
    z-index: -1;    
}
.row {
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 50px;
    
}

.card-body{
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
}
.card-text {
    font-style: italic  ;
    color:RED;
}
.anchor {
    text-decoration: none;
}
.s{
    position: relative;
    border: 1px solid #ccc;
    padding-bottom: 40px;
    margin-bottom: 10px;
    border-radius: 2px;
}

.contain{
    width: 50%;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    
}
.btn{
    width: max-content;
    height: auto;
    text-align: center;
    background-color: red;
    border: none;
    padding: 5px 10px 5px 10px;
    font-weight: bolder;
    border-radius: 2px;
    
}
.col-sm-3:hover + .contain  {
    display: block;
}
.contain:hover{
    display: block;
}
.s:hover .card-img-bottom{
    opacity: 0.5;
}
   


