.cartscreen{
    margin-top: 50px;
}
.checkout-items{
    width: 50%;
    border:0.5px solid black;
    display: inline-block;
    margin-top:20px;
    padding:5px 5px;
    
}
.totalPrice{
    position: relative;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}