.large{
    width:60%;
    margin-top: 90px;
    margin-left: 200px;
}
.col-1{
    margin-top:100px
}
ul{
    list-style-type: none;  
}
.nameP{
    font-weight: bold;
    text-transform: uppercase;
}
.priceP{
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.AddtoCart{
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}