.side {
    overflow:visible;
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contain1{
    position: relative;
    overflow:auto;
    padding:32px;
    height: 100%;
    width: 100%;
    max-width: 420px;
    background-color: rgb(255, 255, 255);
}
.giohang{
    padding-top:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}
.it{
    width: 100%;
    border:0.5px solid black;
    display: inline-block;
    margin-top:20px;
    padding:5px 5px;
}
.gia{
    padding:10px;
}
.anh{
    float: left;
    width: 100px;
    height: 100px;
}
.thanhtoan{
    float:right;
    border: 0.3px solid black;
    text-align: center;
    height: 30px;
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    background-color: tomato;
    width: 100px;
    margin-top: 20px;
}
.add{
    border: none;
    width: 15px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    background-color: grey;
    margin-left: 5px;
}
.remove{
    border: none;
    width: 15px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    background-color: grey;
    margin-right: 5px;
}