a{
    text-decoration: none;
}
.NavbarItems {
    background-color: white;
    position: fixed;
    top:0;
    width:100vw;
    height:58.6px;
    display: flex ;
    align-items: center;
    justify-self: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #ccc ;
    z-index: 1;
}
.navbar-logo{
    text-align: left;
    color:black;
    margin-left:20px;
    cursor: pointer;
    font-size:23px;
}
.fa-react{
    display: none;
}
.nav-menu {
    display:grid;
    grid-template-columns: repeat(7,auto);
    grid-gap:30px;
    list-style: none;
    text-align:center;
    justify-content: center;
    width: 80vw;
    padding-left: 100px;
}
.fa-search{
    font-size:13px;
    padding:20px 5px;
}
.nav-links{ 
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    color:black;
    text-decoration: none;
    padding:20px 5px;
    font-weight: bold   ;
}
.nav-links:hover{
    border-bottom: 1px solid black;
}
.nav-links2{
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    color:red;
    text-decoration: none;
    padding:20px 5px;
    font-weight: 1000;
}
.nav-links2:hover{
    border-bottom: 1px solid red;
}

.fa-bars{
    color:black;
}

.menu-icon{
   display: none;
}
.dangnhap{
    border:none;
    text-align: center;
    height: 30px;
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
    background-color: rgb(0, 153, 255);
    width: 100px;
}
.dangnhap:hover{
    border:1px solid black;
    background-color: rgb(2, 122, 201);
}
.cartbtn{
    margin-left : 15px;
    border: none;
}
