* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}  
.Header {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 130px;
  font-size: 20px;
  font-weight: bold;
}
.Header1 {
  padding-top : 20px;
  font-size: 13px;
}
