.Log_In{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    position: relative;
    padding:32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
}
.close{
    position: absolute;
    top:16px;
    right: 16px;
    border: none;
    background-color: white ;
    font-size: 30px;
}
.container{
    text-align: left;
    font-size: 15px;
}
.uname .psw {
    font-weight: bold;
}
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.btnl{
    background-color: rgb(0, 153, 255);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.btnl:hover{
    background-color: rgb(2, 122, 201);
}
.dropdown {
    display: inline-block;
    position: relative;
  }
.dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    min-width: 12rem;
    padding: 1rem;
    z-index: 1;
    background-color: white;
    margin: 0;
    margin-top: 0.2rem;
    border:black solid 1px;
    border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
    font-size: 20px;
    display: block;
}
  